body {
    background-color: #0a0a0a;
}

.user {
    /* margin-top: .5%; */
    width: 100%;
    border-radius: 0;
    position: relative;
    /* margin-top: -3%; */
}
.optionBtn {
    width: 20%;
}
.insertFormPositioner {
    text-align: center;
    padding-top: 5%;
}
.hidden {
    display: none;
}
.insertForm {
    background-color: #d8d8d8;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 25%;
    height: 45%;
    margin-bottom: 7%;
    border-radius: 10px;
}
/* display target devices */
.controleCenter {
    text-align: center;
}
.targets {
    background-color: #d8d8d8;
    margin: 5% 10% 3%;
    width: 25%;
    height: 80%;
    border-radius: 10px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    overflow: hidden;
    /* display: inline-block; */
}
.connectionOptions {
    width: 20%;
    margin: 0 auto;
    position: absolute;
    left: 37%;
    bottom: 60%;
}
/* buttons */
.btn {
    margin-bottom: 3%;
    width: 100%;
}
.addMac {
    margin-right: 1.5%;
}
/* form fields  */
.inputField {
    border: none;
    border-radius: 10px;
    outline: none;
    resize: none;
    margin-bottom: 7%;
    margin-top: 5%;
    text-align: center;
    height: 25%;
}

/* actions */
.addMac:hover {
    color: #343a40;
    background-color: #fff;
}

.removeMac:hover {
    color: #f8f9fa;
    background-color: #343a40;
    border-color: #343a40;
    display: inline-block;
}
